.container {
	width: 40px;
	display: flex;
	background-color: var(--oppositeColor);
	box-shadow: 0 0 15px;
	padding: 5px;
	border-radius: 50px;
	align-items: center;
	justify-content: space-between;
	position: relative;
	cursor: pointer;
	user-select: none;
	margin-right: 20px;
}

.ball {
	position: absolute;
	border-radius: 100%;
	transition: all .4s;
	background-color: white;
	width: 15px;
	height: 15px;
}
